.page-title {
    display: flex;
    justify-content: center;
    position: relative;
    top: -3vw;
}
.categories {
    display: flex;
    justify-content: center;
    position: relative;
    top: -2vw;
    a {
        text-decoration: none;
        font-family: "Jost";
        background-color: #D63484;
        color: white;
        padding: 10px;
        margin: 0 20px;
        border-radius: 20px;
        cursor: pointer;
        &:hover {
            scale: 1.2;
            box-shadow: 10px 0px #E99F30, -10px 0px #6e5494;
        }
    }
}
section {
    text-align: center;
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}
.tutorials {
    display: grid;
    gap: 10px;
    .tut {
        text-align: center;
        margin: 10px 20px;
    }
}
.desc {
    font-size: 1.2rem;
    font-family: "Jost";
    padding: 10px 0;
}
.bootcamps {
    background-color: #FFD1DA;
    padding: 40px 0;
    .rec {
        margin: 20px 0;
    }
}
.recordings {
    .accordion {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 50vw;
        color: white;
        cursor: pointer;
        text-align: left;
        border: none;
        border-radius: 10px;
        outline: none;
        font-size: 20px;
        padding: 15px;
        margin-top: 20px;
        transition: 0.4s;
        div {
            rotate: 0deg;
            margin-left: 20px;
        }
        &[id="sydAccordion"] {
            background-color: #f0b055;
        }
        &[id="nyAccordion"] {
            background-color: #787CD2;
        }
        &[id="sfAccordion"] {
            background-color: #5DB9ED;
        }
        &[id="phAccordion"] {
            background-color: #F07864;
        }
    }
    .active, .accordion:hover {
        background-color: #fa84a2;
    }
    #sydney02, #newyork01, #sf01, #ph {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1s ease-out;
    }
}
.link {
    text-decoration: none;
    color: white;
    background-color: #402B3A;
    border-radius: 50px;
    padding: 10px;
    &:hover {
        font-size: 1.1rem;
        box-shadow: 20px 0px #D63484, -20px 0px #6e5494;
    }
}
#webinarSection {
    padding: 5vw 0;
}
.webinars {
    display: grid;
    gap: 10px;
    .webinar {
        text-align: center;
        margin: 10px 20px;
    }
}
#websitesSection {
    background-color: #6e5494;
    padding: 5vw 0 0;
    color: white;
}
.websites {
    display: grid;
    gap: 10px;
    margin-top: 2vw;
    .site {
        text-align: center;
        /* margin: 10px 20px; */
        cursor: pointer;
        img{
            width: 400px;
            height: 200px;
            margin: 15px 0;
        }
        &:hover {
            scale: 1.05;
            img {
                box-shadow: 20px 20px #D63484, -20px -20px #1C93D6;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .tutorials, .webinars, .websites{
        grid-template-columns: repeat(1, 1fr);
        .tut, .webinar, .site {
            text-align: center;
            margin: 5px 0;
        }
    }
}

@media only screen and (min-width: 1025px){
    .tutorials, .webinars, .websites {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1200px){
    .tutorials, .webinars, .websites {
        grid-template-columns: repeat(3, 1fr);
    }
}