* {
    box-sizing: border-box;
    font-family: "Nanum Myeongjo", serif;
    transition: all .35s;
}
body {
    background-color: #FFF0F5;
    color: #402B3A;
    padding: 5%;
}
div.logo a{
    text-decoration: none;
    color: #402B3A;
}
#my-name{
    font-size: 1.5rem;
    position: absolute;
    top: 4%;
    margin-left: 11%;
}
#sparkle-logo {
    width: 40px;
}

/* Nav bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.nav-btns { 
  a {
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 0;
    color: #402B3A;
    padding: 5px;
    transition: all .35s;
    &:hover {
      background-color: #FFD1DA;
    }
  }
} *
#connect {
  background-color: #FFD1DA;
  &:hover {
    scale: 1.12;
  }
}

/* Heading */
.heading p {
    display: inline;
}
#my-roles {
    background-color: #FFD1DA;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}


/* For mobile phones: */
@media only screen and (max-width: 480px) {
    /* Nav bar */
    .nav-btns {
        display: none;
    }
    .nav-menu {
        margin-top: 5px;
        button {
        font-size: 2rem;
        color: #402B3A;
        }
        .nav-btn {
        font-size: 1rem;
        }
    }

    /* Header */
    .heading {
        margin: 10% 3%;
        font-size: 2.5rem;
        p {
            font-size: 1.4rem;
        }
    }
    #my-roles {
        padding: 0 0 5px 5px;
        width: 320px;
        height: auto;
        margin-bottom: 5px;
        p{
            
        }
        img {
            width: 35px;
        }
    }
    .img-container {
        background-color: transparent;
        width: 300px;
        height: 300px;
        margin: 5% auto;
        perspective: 1000px;
    }
    .flip {
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        padding: 5%;
        padding-bottom: 0;
        img {
            width: 250px;
        }
    }
    .img-container:hover .flip{
        transform: rotateY(180deg);
    }
    .front, .back {
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 20px;
    }
    .front {
        background-color: #FFDBAA;
        padding: 5%;
        padding-bottom: 0;
        box-shadow: 15px 15px #FBA1B7;
    }
    .back {
        background-color: #FBA1B7;
        transform: rotateY(180deg);
        padding: 5%;
        box-shadow: 15px 15px #FFDBAA;
        p {
            font-size: 20px;
            line-height: 1.2;
        }
    }
}

