* {
    box-sizing: border-box;
    font-family: "Nanum Myeongjo", serif;
    transition: all .35s;
}
body {
    background-color: #FFF0F5;
    color: #402B3A;
}
div.logo a{
    text-decoration: none;
    color: #402B3A;
}
#my-name{
    font-size: 1.5rem;
    position: absolute;
    top: 4%;
    margin-left: 11%;
}
#sparkle-logo {
    width: 40px;
}

/* Nav bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
  }
.nav-btns { 
  a {
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 0;
    color: #402B3A;
    padding: 5px;
    transition: all .35s;
    &:hover {
      background-color: #FFD1DA;
    }
  }
} *
#connect {
  background-color: #FFD1DA;
  &:hover {
    scale: 1.12;
  }
}

/* Heading */
.heading {
    padding: 5%;
    p {
    display: inline;
    }
}
#my-roles {
    background-color: #FFD1DA;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}


/* For mobile phones: */
@media only screen and (max-width: 480px) {
    /* Nav bar */
    .nav-btns {
        display: none;
    }
    .nav-menu {
        margin-top: 5px;
        button {
        font-size: 2rem;
        color: #402B3A;
        }
        .nav-btn {
        font-size: 1rem;
        }
    }

    /* Header */
    .heading {
        margin: 10% 3%;
        font-size: 2.5rem;
        p {
            font-size: 1.4rem;
        }
    }
    #my-roles {
        padding: 0 0 5px 5px;
        width: 320px;
        height: auto;
        margin-bottom: 5px;
        p{
            
        }
        img {
            width: 35px;
        }
    }
    .img-container {
        background-color: transparent;
        width: 300px;
        height: 300px;
        margin: 5% auto;
        perspective: 1000px;
    }
    .flip {
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        padding: 5%;
        padding-bottom: 0;
        img {
            width: 250px;
        }
    }
    .img-container:hover .flip{
        transform: rotateY(180deg);
    }
    .front, .back {
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 20px;
    }
    .front {
        background-color: #FFDBAA;
        padding: 5%;
        padding-bottom: 0;
        box-shadow: 15px 15px #FBA1B7;
    }
    .back {
        background-color: #FBA1B7;
        transform: rotateY(180deg);
        padding: 5%;
        box-shadow: 15px 15px #FFDBAA;
        p {
            font-size: 20px;
            line-height: 1.2;
        }
    }

    /* Skills */
    #skillsSection {
        background-color: #FFD1DA;
        border-radius: 40px;
        padding: 8% 5%;
    }
    .section-title {
        display: flex;
        margin-bottom: 5%;
        img {
            width: 50px;
        }
        h1 {
            margin: 10px 5px;
        }
    }
    .accordion {
        display: flex;
        justify-content: space-between;
        background-color: #FBA1B7;
        color: white;
        font-size: 20px;
        cursor: pointer;
        padding: 15px;
        margin-top: 10px;
        width: 100%;
        text-align: left;
        border: none;
        border-radius: 10px;
        outline: none;
        transition: 0.4s;
        div {
            font-size: 30px;
            rotate: 0deg;
        }
    }
    .active, .accordion:hover {
        background-color: #fa84a2;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #codingskills, #designskills {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1s ease-out;
        .skill {
            font-family: "Jost";
            color: white;
            padding: 10px 18px;
        }
        #html { background-color: #E99F30; }
        #css { background-color: #1C93D6; }
        #js { background-color: #EAC938; }
        #python { background-color: #5DB9ED; }
        #cplus { background-color: #0E3850; }
        #csharp { background-color: #787CD2; }
        #php { background-color: #B6B8ED; }
        #sql { background-color: #00DCD5; }
        #java { background-color: #E5553D; }
        #react { background-color: #402B3A; }
        #mongodb { background-color: #68BE5A; }
        #git { background-color: #F07864; }
        #github { background-color: #383A61; }
        #bs { background-color: #9860DE; }
        #ps { background-color: #0E3850; }
        #ai { background-color: #7E2F21; }
        #xd { background-color: #7C1866; }
        #figma { background-color: #68BE5A; }
        #canva { background-color: #1C93D6; }
        #pr { background-color: #402B3A; }
    }
}

